.background-color {
  background-color: #000;
}
body {
  color: white;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.particles-js {
  position: absolute;
  width: 90%;
  height: 100%;
}

.text-light-color {
  color: rgba(255, 255, 255, 0.6);
}

.text-title {
  font-size: 5rem;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 60px;
  width: 60px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #fff;
}

a > svg {
  font-size: xx-large;
}
